/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */

$accentColor = #728aa1
$textColor = #2e3740
$borderColor = rgba(0,0,0,.05)
$codeBgColor = #000
$arrowBgColor = #ccc
